<mat-dialog-content>
  <form [formGroup]="commandFormGroup">
    <div fxLayout="column">
      <mat-form-field>
        <input formControlName="commandCtrl" matInput placeholder="Command">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="commandOrderCtrl" matInput placeholder="Command Order">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="!commandFormGroup.valid">Save</button>
</mat-dialog-actions>
