<div fxLayout="row" fxLayoutGap="20px">
  <mat-card>
    <mat-card-title>Module definition</mat-card-title>
    <form [formGroup]="newModuleFormGroup" (ngSubmit)="onModuleSave()">
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Module name" formControlName="moduleNameCtrl">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Module address" formControlName="moduleAddressCtrl">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Module type" formControlName="moduleTypesCtrl">
            <mat-option *ngFor="let moduleType of moduleTypes" [value]="moduleType.value">{{moduleType.description}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </mat-card>
  <mat-card style="min-width: 480px">
    <mat-card-title>Commands definition</mat-card-title>
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-table [dataSource]="commandsDataSource">
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? customToggle(row) : null"
                          [checked]="selectionDataSource.isSelected(row)" color="primary"></mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="command">
          <mat-header-cell *matHeaderCellDef>Command</mat-header-cell>
          <mat-cell *matCellDef="let dataRow;">{{dataRow.command}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef>Command Order</mat-header-cell>
          <mat-cell *matCellDef="let dataRow;">{{dataRow.commandOrder}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-header-row *matRowDef="let row; columns: displayedColumns;"></mat-header-row>
      </mat-table>
      <button mat-raised-button color="primary" (click)="onAddCommand()">{{addButtonLabel}}</button>
      <button mat-raised-button color="primary" (click)="onSaveCommand()">Save</button>
      <button mat-raised-button color="primary">Remove</button>
    </div>
  </mat-card>
</div>
