<div fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-title>Module definition</mat-card-title>
    <form [formGroup]="newModuleFormGroup" (ngSubmit)="onModuleSave()">
      <div fxLayout="column" fxLayoutGap="5%">
        <mat-form-field>
          <input matInput placeholder="Module name" formControlName="moduleNameCtrl">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Module address" formControlName="moduleAddressCtrl">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Module type" formControlName="moduleTypesCtrl">
            <mat-option *ngFor="let moduleType of moduleTypes" [value]="moduleType.value">{{moduleType.description}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </mat-card>
  <mat-card>
    <mat-card-title>Commands definition</mat-card-title>
    <div fxLayout="column" fxLayoutGap="5%">
      <mat-table [dataSource]="commandsDataSource">
        <ng-container matColumnDef="command">
          <mat-header-cell *matHeaderCellDef>Command</mat-header-cell>
          <mat-cell *matCellDef="let dataRow;">{{dataRow.command}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef>Command Order</mat-header-cell>
          <mat-cell *matCellDef="let dataRow;">{{dataRow.commandOrder}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      </mat-table>
      <button mat-raised-button color="primary" (click)="onAddCommand()">Add command</button>
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="primary">Remove</button>
    </div>
  </mat-card>
</div>
