<div fxLayout="column" fxLayoutAlign="center center" style="height: 300px">
  <mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="User" formControlName="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>
      <button color="primary" mat-raised-button>Sign in</button>
    </div>
  </form>
  </mat-card>
</div>
