<!--suppress ALL -->
<div fxLayout="row" fxLayoutGap="20px">
  <mat-card width="600px" *ngIf="hubSensor.temperatures.length > 0">
    <mat-card-title>Temperatures</mat-card-title>
    <div fxLayout="row" fxLayoutGap="20px">
      <div *ngFor="let temperature of hubSensor.temperatures">
        <linear-gauge
          animation-duration="1500"
          animation-rule="linear"
          bar-width="10"
          border-shadow-width="0"
          borders="false"
          color-bar-progress="#327ac0"
          color-plate="#fff"
          height="400"
          major-ticks="-10,0,10,20,30,40,50"
          max-value="50"
          min-value="-20"
          minor-ticks="5"
          needle-circle-inner="false"
          needle-circle-outer="true"
          needle-circle-size="7"
          needle-type="arrow"
          needle-width="2"
          start-angle="90"
          stroke-ticks="true"
          ticks-angle="180"
          units="°C"
          value="{{temperature.temperature}}"
          value-box="false"
          width="120">
        </linear-gauge>
        <mat-chip-list aria-orientation="vertical" class="mat-chip-list-stacked">
          <mat-chip color="primary" selected>{{temperature.slotName}}</mat-chip>
          <mat-chip color="primary" selected>{{temperature.temperature}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
  <mat-card *ngIf="hubSensor.humidityMeasurements.length > 0">
    <mat-card-title>Humidity</mat-card-title>
    <div *ngFor="let humidityMeasurement of hubSensor.humidityMeasurements" fxLayout="row">
      <mwl-gauge animated="true"
                 animationDuration="1"
                 dialendangle="-90.001"
                 dialstartangle="-90"
                 max="100"
                 value="{{humidityMeasurement.humidity}}">
      </mwl-gauge>
    </div>
  </mat-card>
  <mat-card *ngIf="hubSensor.lightIntensityMeasurements.length > 0">
    <mat-card-title>Light Intensity</mat-card-title>
    <div *ngFor="let lightIntensity of hubSensor.lightIntensityMeasurements">
      <mwl-gauge animated="true"
                 animationDuration="1"
                 dialendangle="-90.001"
                 dialstartangle="-90"
                 max="{{lightIntensity.lightIntensity + 500}}"
                 value="{{lightIntensity.lightIntensity}}">
      </mwl-gauge>
    </div>
  </mat-card>
</div>





